body {
  background-color: grey;
  font-family: 'Roboto Mono', monospace;
}

#valknut {
  position: relative;
  border-radius: 66%;
  width: 266px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 50px auto;
  border: 8px solid black;
}

h2 {
  font-size: 33px;
}

p,
h3 {
  font-size: 22px;
}

h1,
h2,
h3,
p {
  text-align: center;
}

.title-banner {
  max-width: 100%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.staatliches-regular {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#portrait {
  position: relative;
  border-radius: 66%;
  width: 266px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 30px auto;
  border: 8px solid black;
}

.overlay {
  position: relative;
  border-radius: 66%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__title {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar {
  max-width: 100%;
  overflow: hidden;
  background-color: black;
  font-family: 'Roboto Mono';
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 760px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  max-width: 100%;
}

.dropdown {
  max-width: 100%;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightslategray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 50%;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-width: 50%;
  align-items: center;
}

#runner {
  position: relative;
  border-radius: 66%;
  width: 133px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 50px auto;
  border: 6px solid black;
}
#family {
  position: relative;
  border-radius: 90%;
  width: 290px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 100px auto auto auto;
  border: 3px solid silver;
}
.slim-anchor,
a:link {
  background-color: transparent;
  text-decoration: none;
}

.slim-anchor,
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.page-banner {
  width: 99%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

div {
  margin-bottom: 2em;
}

article {
  display: block;
  width: 900px;
  max-width: 100%;
  justify-content: center;
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.blog-p {
  font-size: 17px;
}

.container {
  height: 70px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.positioning {
  position: relative;
  max-width: 100%;
  display: block;
  margin: auto;
  border: 3px solid black;
}
